@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {   
    background-color: hsl(212, 45%, 89%);
    max-width:  1440px;       
}

.grid {    
    position: relative;
    max-width: 250px;
    max-height: 380px;
    background-color: white;            
    border-radius: 25px;     
    margin: 25vh auto;
}

img  {    
    padding: 12px;
    max-width: 250px;    
    border-radius: 10%;       
}

.grid .item__txt {
    margin-left: 25px;
    display: block;
    align-items: center;
    max-width: 200px;
    padding-bottom: 25px;
      
}

.grid .item__txt h1 {
    
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    
}

.grid .item__txt p {
    color: hsl(220, 15%, 55%);
    text-align: center;    
    font-size: 12px;
    padding-top: 10px;
    font-family: 'Outfit', sans-serif;    
    
    
}